[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
docstring-min-length=10
disable=missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        too-few-public-methods,
[FORMAT]
good-names=i,j,x,y,id